@import '~antd/dist/antd.css';
.logo {
  font-size: 20px;
  line-height: 32px;
  background: #3c8dbc;
  border-radius: 2px;
  color: white;
  text-align: center;
}
 .logo-mini{
  display: none;
}
.logo-lg{
  display: block;
} 
/* @media (max-width: 768px){
  .logo-mini{
    display: block;
  }
  .logo-lg{
    display: none;
  }
}
@media (max-width: 80px){
  .logo-mini{
    display: block;
  }
  .logo-lg{
    display: none;
  }
} */